<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kAGConfigKey</key>
	<data>
	cGJpbHRzMDAB1AMCBQQHBlgKdiRyZWlzbm8kWXJhaGN2aXJlJFRvdFhwbyRqYmNlc3QA
	EoYBX6APEFNOZUtleUFkY3JpaGV20XIJCHJUb2+AdK8BIRAMCysfLSwvLjk1PzxFRE9J
	XFteXWJfamlsa3RzdnV+eFWCbiRsddlsDg0QDxIRFBMWFRgXGhkcGx4dEF9kEHlhVXN0
	bmxpeEVpcGVyX3MPEG9sa2NkZXVCZG5lbERJV3NuZURkdGFZZXRzcmFEdHRhVmVjJGFs
	c3MQX2EWYXZsaWJhZWx0U2VybWFuaVRnbWlYZWVmdGFydXNlEF9pE0xzY29la09kQm5u
	dWxkSWVzRGlUZm4Qb4APgAuACoAIgCCAHgkOAoAg1iIhJCMlEScmJihaKnVhaHRyb2FN
	bGlhWnR1b2hOcm1hWmVsY2VpdG5hTmVtY1ppbG5lTXRpYVtsb2NwbW5hTnltYYBlgASA
	A4AFgAaAA1oHdFNlcm1heGFhaRBfaBp0dHNwLzp3L3d3cy5ydGFlYW1peC5hb2NXbWVE
	YWZsdVB0MNIyMVozYyRhbHNzYW5lbSRYbGNzYWVzVnNHQW5Jb2Yyolg0U05iT2VqdGM2
	0jcRVzhTTnQubWkjZcVBfj5YecFXCYAw0joxVjtTTmFEZXQ6otI0ETY4PUEjSMW5YVdY
	gMHSCRFAQ0FOWi5TYm9lanRjoXOAQoAMXw0VEG9jLm1pdnRuZ2VhcnkubGFhbGli0mQx
	MEdGTl5NU3R1YmFlbHJBYXKjeUhGVzRTTnJBYXLSeRFATkpLo01MD4AVgBmAHYBQ1lJR
	VFMdEVdWWVhaWnNpZVNlbHRjZGVrU3lldFV0aWVsZFd0ZWlhc2xpWG9jTm5tYQllEIAR
	gBKAE4AUgBBfaxlHQWVGdGFydUFlYWR0cHZpQmV0aWFSZXQQX0ERYWR0cHZpIGVpQiB0
	YVJldBBfTU5uYWdhIGV1YW90YW1pdGFjbGwgeWh0IGV0c2VybWFuaSBnaWJ0IHJhdGUs
	IGFjY29yZGluZyB0byBhdmFpbGFibGUgYmFuZHdpZHRoLl8QFGljb24tZmVhdHVyZS1k
	ZWZhdWx00jAxYGFZQUdGZWF0dXJlomA01lBRUlNUER1kZWZZWgmAFoAXgBiAE4AUXxAa
	a0FHRmVhdHVyZVNhdmVWaWRlb0xvY2FsbHlfEBJTYXZlIFZpZGVvIExvY2FsbHlfEDlU
	aGUgc3RyZWFtZWQgdmlkZW8gaXMgc2F2ZWQgb24gdGhlIGRldmljZSdzIGxvY2FsIG1l
	bW9yeS7WUFFSU1QRHW5vcFlaCYAagBuAHIATgBRfEBRrQUdGZWF0dXJlVGFwVG9Gb2N1
	c1xUYXAgVG8gRm9jdXNfEClUYXAgdG8gZm9jdXMgdGhlIGNhbWVyYSBkdXJpbmcgc3Ry
	ZWFtaW5nLtIwMUh3okg003l6EXt8fV8QFG51bWJlck9mSG91cnNBbGxvd2VkXWlzTGlt
	aXRlZFRpbWUQAAiAH9IwMX+AXxAPQUdTdHJlYW1pbmdUaW1looE0XxAPQUdTdHJlYW1p
	bmdUaW1l0jAxg4RdQUdDZXJ0aWZpY2F0ZaKFNF1BR0NlcnRpZmljYXRlAAgAEQAaACQA
	KQAyADcASQBMAFEAUwB3AH0AkACjALUAvQDHAM4A5wDwAQYBCwENAQ8BEQETARUBFwEZ
	ARoBHAEpATQBPwFKAVUBYQFjAWUBZwFpAWsBbQF4AZUBnQGeAaMBrgG3Ab4BwQHKAc8B
	1wHgAeIB5wHuAfEB9gH/AgECBgIRAhMCFQIXAi8CNAJDAkcCTwJUAlgCWgJcAl4CYAJt
	AngCfAKCAooCkwKUApYCmAKaApwCngK6As4DHwM2AzsDRQNIA1UDVgNYA1oDXANeA2AD
	fQOSA84D2wPcA94D4APiA+QD5gP9BAoENgQ7BD4ERQRcBGoEbARtBG8EdASGBIkEmwSg
	BK4EsQAAAAAAAAIBAAAAAAAAAIYAAAAAAAAAAAAAAAAAAAS/
	</data>
	<key>kAGSignatureKey</key>
	<data>
	F6LzuFq3jWRTIuRhkjLZqvsWZtr+5la3mZAkP5voAetdMeI8TVDoBYKC/jW4Rt5L43Ez
	SxtYyVStFdVmzC7ia7JuENJtqX56aQfXHIFWIJwOrqwNee3FWti13/RyUYmYpTt3R8bC
	kxrahVeM3+O/bxFPi8dHTRZHT6TGl1Lsy2U=
	</data>
	<key>kAGTokenKey</key>
	<data>
	ckDNZkc1IHI0r6CFAWt84s6a/hOTD3nZ1OG4OWr7nko=
	</data>
</dict>
</plist>
