<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bazaar Ghar.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
				<key>dateExpires</key>
				<string>20/06/2024</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AZTabBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>4.9.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Algorithms.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Cosmos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>23.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.13</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>EasyNotificationBadge.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>3.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleSignIn.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>10.4.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Intercom.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>JGProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>7.9.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Moya.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>13.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OTPFieldView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Presentr.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RecaptchaInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>100.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Result.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Rswift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>5.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SocketIO.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>16.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SocketRocket.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Starscream.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftFlags.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftHSVColorPicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftLog.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftSignalRClient.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TagListView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>67959</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TwilioVideo.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>5.7.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>UBottomSheet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20220623.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.50.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.50.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.24</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>80F30D647573506948C15B21592297C8BBFA45D6</string>
						<key>dateExpires</key>
						<string>20/06/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>socket_IO.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>V7A87TH69V</string>
						<key>name</key>
						<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.5.2</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>V7A87TH69V.com.app.bazaargharios</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>V7A87TH69V</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Bazaar Ghar.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b9f819f6-3955-418f-a187-1e4a21795595</string>
				<key>dateExpires</key>
				<string>28/11/2024</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.app.bazaargharios</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>V7A87TH69V</string>
				<key>name</key>
				<string>VINTEGA SOLUTIONS (PRIVATE) LIMITED</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
